<template>
  <v-card v-if="!editMode">
    <v-card-item>
      <div>
        <v-card-title
          >{{ student?.nome }} - {{ student?.matricula }}</v-card-title
        >
        <v-card-subtitle>{{ student?.situacaoMatricula.nome }}</v-card-subtitle>
        <v-card-subtitle>Meus Hobbies</v-card-subtitle>
        <v-card-text>{{ student?.hobbies }}</v-card-text>
      </div>
    </v-card-item>


    <v-card-actions class="buttons">
      <v-btn class="editButton" @click="toggleEditStudent">editar</v-btn>
      <v-btn class="deleteButton" @click="deleteStudent">deletar</v-btn>
      <v-btn class="cancelButton" @click="cancelRegistration">cancelar</v-btn>
    </v-card-actions>
  </v-card>

  <v-card v-if="editMode">
    <v-card-item>
      <v-text-field v-model="updatedStudent.nome" label="Nome" />
      <v-text-field v-model="updatedStudent.matricula" label="Matricula" />
      <v-text-field v-model="updatedStudent.hobbies" label="Hobbies" />
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="editButton" @click="saveStudent">salvar</v-btn>
      <v-btn class="cancelButton" @click="cancelEdit">cancelar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {
  deleteStudentByMatricula,
  createStudent, updateStudent,
} from '@/services/students.js';

export default {
  data() {
    return {
      editMode: this.$props.student.id === 0, // O estudante recém criado (id 0) já vem em modo de edição, e os demais não.
      updatedStudent: {
        ...this.$props.student
      }
    };
  },
  props: {
    student: {
      type: Object,
      required: true,
    },
  },
  methods: {
    toggleEditStudent() {
      this.editMode = !this.editMode;
    },
    async saveStudent() {
      if (this.$props.student.id === 0) { // O aluno a ser salvo é novo, visto que no banco os IDs começam de 1
        await this.checaErro(async () =>
            createStudent(this.updatedStudent)
        );
      } else {
        const erro = await this.checaErro(async () =>
            updateStudent(this.updatedStudent, this.$props.student.matricula)
        );
        if (erro)
          this.updatedStudent = this.$props.student;
      }
      this.$props.student = this.updatedStudent;
      this.toggleEditStudent();
      this.$emit('refreshStudents');
    },
    cancelEdit() {
      this.toggleEditStudent();
      this.updatedStudent = this.$props.student;

      if (this.$props.student.id === 0)
        this.$emit('refreshStudents');
    },
    async deleteStudent() {
      await this.checaErro(async () =>
          deleteStudentByMatricula(this.$props.student.matricula)
      );
      this.$emit('refreshStudents');
    },
    async cancelRegistration() {
      this.$props.student.situacaoMatricula.codigo = "C01"; // Cancelado.
      await this.checaErro(async () =>
          updateStudent(this.$props.student, this.$props.student.matricula)
      );

      this.$emit('refreshStudents');
    },
    async checaErro(x) {
      try {
        await x();
        this.$emit('erro', false);
        return false;
      }
      catch (erro) {
        this.$emit('erro', erro.response.data.message);
        return true;
      }
    },
  },
};
</script>

<style scoped>
.v-card {
  width: 380px;
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.editButton {
  background-color: #53B584;
}

.deleteButton {
  background-color: #41AF75;
}

.cancelButton {
  background-color: #19856E;
}
</style>
