<template>
  <header>
    <img alt="SIGA Logo" class="logo" src="./assets/logo.png" width="125" height="125"/>

    <div class="wrapper">
      <HelloWorld msg="Você conseguiu!"/>
    </div>
  </header>

  <main class="cardContainer">
    <v-container>
      <v-row v-if="erro" align="center" justify="center">
        <v-card>
          <div class="v-row">
            <v-card-title>Erro</v-card-title>
            <v-btn class="closeErrBtn" @click="erro=false">X</v-btn>
          </div>
          <v-card-text>{{ erro }}</v-card-text>
        </v-card>
      </v-row>

      <v-row align="center" justify="center">
        <v-btn class="createButton" @click="createStudent">
          <img class="imgCreate" alt="botão para criar aluno" src="./assets/plus.svg" />
        </v-btn>
      </v-row>
      <v-row align="center" justify="center">
        <v-col v-for="(student) in students" :key="student.id" cols="auto">
          <StudentCard :student="student" @refreshStudents="getStudents" @erro="mostraErro"/>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import StudentCard from './components/StudentCard.vue'
import {getAllStudents} from "@/services/students.js";

export default {
  components: {
    HelloWorld,
    StudentCard
  },
  created() {
    this.getStudents()
  },
  data() {
    return {
      students: [],
      creating: false,
      erro: false,
    }
  },
  methods: {
    createStudent () {
      if (!this.creating) { // Impede de haver dois novos alunos sendo criados simultaneamente.
        this.students.unshift({
          id: 0, // Identifica unicamente que o aluno é novo, já que no banco os IDs começam de 1.
          nome: "",
          matricula: "",
          hobbies: "",
          situacaoMatricula: {
            nome: ""
          }
        });
        this.creating = true;
      }
    },
    async getStudents() {
      const students = await getAllStudents();

      this.students = students
      this.creating = false;
    },
    mostraErro(mensagem) {
      this.erro = mensagem;
    }
  },
}
</script>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .cardContainer {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .cardContainer::-webkit-scrollbar {
    background: none;
    width: 10px;
  }

  .cardContainer::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 5px;
  }

  .imgCreate {
    filter: invert(100%) sepia(100%) saturate(2%)
    hue-rotate(141deg) brightness(103%) contrast(101%);
  }

  .createButton {
    background-color: #0f594b;
  }

  .closeErrBtn {
    margin: 10px 10px 0 auto;
    background: ivory;
  }

  .v-card {
    width: 380px;
    background-color: #CC0000;
    color: rgb(232, 230, 227);
    margin-bottom: 10px;
  }
}

</style>
